.form-control{
    border-radius:0;
    outline:none;
}

.form-control:active{
    outline:none;
}
.form-control:focus{

    outline:none;
}

.btn{
    border-radius: 0;
}
.btn-primary{
     background-color: #283e4a;

}
.btn-primary:hover{
    background-color: #283e4a;
}
.btn-primary:active{
    background-color: #283e4a;
}
